<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="automateNow" parallel="tests">
    <test name="Chrome tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.automatenow.tests.TestHomepage"/>
        </classes>
    </test>
    <test name="Firefox tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="io.automatenow.tests.TestHomepage"/>
        </classes>
    </test>
</suite>